
backend.tar
*.class
.DS_Store
# Frontend
frontend/dist/
frontend/.env
frontend/node_modules/
# IDE
.idea/
*.iml
*.jar
# Java/Maven
kubeconfig
*.log
logs/
# Logs
# OS
target/
Thumbs.db
tools/
.vscode/
*.war
# Ansible Vault
ansible/.vault_pass
