# Java/Maven
target/
*.class
*.jar
*.war
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

tools/
kubeconfig

